---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header {
  background-color: rgb(60, 60, 60);
}

.site-title, .page-link {
  color: white !important;
}

body {
    background-color: rgb(255, 255, 255)
}

a:visited {
    color: rgb(11, 71, 137);
  }

a {
    color: rgb(87, 114, 248);
}

body {
  font-family: 'Georgia', sans-serif;
}

@keyframes drive {
  0% { left: -100px; }
  100% { left: 100%; }
}


img {
  width: 100px; /* Adjust the value as per your desired size */
}
img {
  height: 100px; /* Adjust the value as per your desired size */
}

img {
  position: absolute;
  animation: drive 10s linear infinite;
}